.button {
    border-radius: 8px;
    font-weight: 700;
  }
  
  button#popcorn {
    background-color: #ba1a62;
  }
  button#soda {
    background-color: #db1a0c;
  }
  button#candy {
    background-color: #e4633b;
  }
  button#nachos {
    background-color: rgb(252, 181, 4);
  }
  button#icecream {
    background-color: rgb(252, 218, 176);
  }
  
  #shopping-cart {
    background-color: #e1ebe4;
    max-width: 600px;
    min-height: 400px;
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
  }